.metric-header {
  text-align: center;
  color: rgb(233,50,117);
}

.metric-table {
  padding: 10px 5px 10px 20px;
}

.table-name {
  text-align: center;
  padding-bottom: 10px;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}
